.container {
  color: white;
  background-color: #2e0039;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 30%;
  border-radius: 15px;
  padding: 1%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.result {
  margin-top: 10px;
  margin-left: 80%;
  font-size: 1.2rem;
}
h2 {
  margin-right: 57%;
}
.save-button:hover {
  color: red;
  cursor: grab;
}
.save-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 35px;
  margin-top: 3%;
  margin-right: 66%;
}
.input-container {
  display: flex;
  align-items: center;
}
input {
  text-align: right;
  margin-left: 30px;
}
select,
input {
  font-size: 1rem;
  flex: 1;
  font-weight: 500;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  background-color: #2e0039;
  padding: 5px;
}

select {
  margin-right: 100px;
  min-width: 92%;
}
.swap-button {
  border: none;
  font-size: 23px;
  background-color: transparent;
  color: white;
}
h1 {
  margin-left: 30%;
}
.titulo-linea {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.titulo {
  color: #2e0039;
  display: flex;
}
.container-conversion {
  display: flex;
  justify-content: center;
}
.saved-conversions {
  width: 40%;

  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

.saved-conversion {
  font-weight: 500;
  box-shadow: 0 0 10px rgba(227, 227, 227, 0.5);
  display: flex;
  align-items: center;
  margin: 5px;
  background-color: #e3e3e3;
  border-radius: 9px;
  padding: 5px;
}

.saved-conversion-text {
  color: black;
  margin-left: 15px;
}
.saved-conversion-delete:hover {
  color: red;
}
.saved-conversion-delete {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 16px;
  margin-left: auto;
  padding: 12px;
  font-weight: 700;
}

/* AQUI EMPIEZA EL MEDIA QUERY */

@media (max-width: 320px) {
  h1 {
    margin-left: 0.1%;
  }
  .titulo-linea {
    width: 100%;
  }
  .titulo {
    color: #2e0039;
    display: flex;
  }
  .container {
    color: white;
    background-color: #2e0039;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 5%;
    border-radius: 15px;
    padding: 2%;
    box-shadow: 1px 1px 1px 1px rgb(220, 217, 217);
  }

  .result {
    margin-top: 15px;
    margin-right: 100px;
    font-size: 15px;
  }

  h2 {
    margin-right: 65%;
    text-align: center;
  }

  .save-button {
    margin-right: 87%;
    background-color: transparent;
    border: none;
    font-size: 22px;
  }
   .input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .swap-button {
   margin-left: 83%;
  }
  select{
    min-width: 80%;
  }
  input{
    max-width: 76%;
    margin-left: -18%;

  }

  .swap-button {
    background-color: transparent;
    border: none;
    color: white;
  }

  .titulo {
    color: #2e0039;
    display: flex;
    justify-content: center;
  }
  .saved-conversion{
    width: 250%;
  }
  .saved-conversions {
    margin-right: 55%;
    width: 100%;
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 0.5fr;
  }

  .saved-conversion-text {
    font-size: 15px;
    color: black;
    margin-left: 15px;
  }
  .saved-conversion-delete:hover {
    color: red;
  }
  .saved-conversion-delete {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    margin-left: auto;
    padding: 12px;
    font-weight: 700;
  }
  }
